<h1>アドバイザー検索のためのアンケート</h1>

<form action="search_result" method="post" id="form" class="form-group">
  <div class="row">
    <div class="col-md-12">
      <label for="child_name">名前(子供)</label>
    </div>
    <div class="col-md-4">
      <input type="text" name="child_name" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="region">住所</label>
    </div>
    <div class="col-md-4">
      <%= select_tag :region, options_from_collection_for_select(Region.all, :id, :name), :class => "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="gender">性別</label>
    </div>
    <div class="col-md-4">
      <%= select_tag :gender, options_from_collection_for_select(Gender.all, :id, :name), :class => "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="age">年齢</label>
    </div>
    <div class="col-md-4">
      <select name="age" class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="start_homebody">引きこもり開始時期</label>
    </div>
    <div class="col-md-4">
      <input name=start_homebody type="date" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>引きこもりの程度</label>
    </div>
    <div class="col-md-4">
      <%= select_tag :extent, options_from_collection_for_select(Extent.all, :id, :name), :class => "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="cause">原因</label>
    </div>
    <div class="col-md-4">
      <select name="cause" class="form-control">
        <option value="0">分からない</option>
        <option value="1">原因1</option>
        <option value="2">原因2</option>
        <option value="3">原因3</option>
        <option value="4">原因4</option>
        <option value="5">原因5</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="communication">コミュニケーション</label>
    </div>
    <div class="col-md-4">
      <select name="communication" v-model="selectedCommunication" class="form-control">
        <option value="0">ない</option>
        <option value="1">ある</option>
      </select>
    </div>
  </div>
  <div v-if="selectedCommunication === '1'" class="row">
    <div class="col-md-12">
      <label for="who_communication">誰と</label>
    </div>
    <div class="col-md-4">
      <select name="who_communication" class="form-control">
        <option value="0">父</option>
        <option value="1">母</option>
        <option value="2">兄弟</option>
        <option value="3">その他</option>
      </select>
    </div>
  </div>
  <div v-if="selectedCommunication === '1'" class="row">
    <div class="col-md-12">
      <label for="frequency_communication">頻度</label>
    </div>
    <div class="col-md-4">
      <select name="frequency_communication" class="form-control">
        <option value="0">月1回</option>
        <option value="1">月2,3回</option>
        <option value="2">週1回</option>
        <option value="3">週2,3回</option>
        <option value="4">それ以上</option>
      </select>
    </div>
  </div>
  <div v-else class="row">
    <div class="col-md-12">
      <label for="span">コミュニケーションのない期間</label>
    </div>
    <div class="col-md-4">
      <%= select_tag :span, options_from_collection_for_select(Span.all, :id, :name) , :class => "form-control"%>
    </div>
  </div>
  <input type="submit" value="アドバイザー検索" class="btn btn-primary">
</form>

<script>
  new Vue({
    el: "#form",
    data: {
      selectedCommunication: "0"
    }
  })
</script>
