<h1>アドバイザー検索のためのアンケート</h1>
<p>Find me in app/views/search/new.html.erb</p>

<form action="search_result" method="post" id="form">
  <!--
  <div class="row">
    <div class="col-md-8">名前(親)</div>
    <div class="col-md-8">
      <input type="text" name="parent">
    </div>
  </div>
-->
  <div class="row">
    <div class="col-md-8">名前(子供)</div>
    <div class="col-md-8">
      <input type="text" name="child">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">住所</div>
    <div class="col-md-8">
      <%= select_tag :region, options_from_collection_for_select(Region.all, :id, :name) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">性別</div>
    <div class="col-md-8">
      <%= select_tag :gender, options_from_collection_for_select(Gender.all, :id, :name) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">年齢</div>
    <div class="col-md-8">
      <select name="age">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">引きこもり開始時期</div>
    <div class="col-md-8">
      <input name=start_homebody type="datetime-local">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">引きこもりの程度</div>
    <div class="col-md-8">
      <%= select_tag :extent, options_from_collection_for_select(Extent.all, :id, :name) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">原因</div>
    <div class="col-md-8">
      <select name="cause">
        <option value="0">分からない</option>
        <option value="1">原因1</option>
        <option value="2">原因2</option>
        <option value="3">原因3</option>
        <option value="4">原因4</option>
        <option value="5">原因5</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">コミュニケーション</div>
    <div class="col-md-8">
      <select name="communication" v-model="selectedCommunication">
        <option value="0">ない</option>
        <option value="1">ある</option>
      </select>
    </div>
  </div>
  <div v-if="selectedCommunication === '1'" class="row">
    <div class="col-md-8">誰と</div>
    <div class="col-md-8">
      <select name="who_communication">
        <option value="0">父</option>
        <option value="1">母</option>
        <option value="2">兄弟</option>
        <option value="3">その他</option>
      </select>
    </div>
  </div>
  <div v-if="selectedCommunication === '1'" class="row">
    <div class="col-md-8">頻度</div>
    <div class="col-md-8">
      <select name="frequency_communication">
        <option value="0">月1回</option>
        <option value="1">月2,3回</option>
        <option value="2">週1回</option>
        <option value="3">週2,3回</option>
        <option value="4">それ以上</option>
      </select>
    </div>
  </div>
  <div v-else class="row">
    <div class="col-md-8">コミュニケーションのない期間</div>
    <div class="col-md-8">
      <%= select_tag :span, options_from_collection_for_select(Span.all, :id, :name) %>
    </div>
  </div>
  <input type="submit" value="アドバイザー検索" class="submit">
</form>

<script>
  new Vue({
    el: "#form",
    data: {
      selectedCommunication: "0"
    }
  })
</script>
