<h1>Pages#index</h1>

<% if user_signed_in? then %>
  <%= link_to "検索", search_new_path %>
  <%= link_to "評価", advisers_path %>
  <%= link_to "ログアウト", destroy_user_session_path %>
<% else %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
