<img src="http://image.itmedia.co.jp/mobile/articles/1701/29/la_line32_01.jpg" width="600" />

<div>
  <%= button_to '予約する', adviser_reservation_path(@adviser), {method: "get", class: "btn btn-lg btn-warning"} %>
</div>
