<h1>Chat#show</h1>
<p>Find me in app/views/chat/show.html.erb</p>

<img src="http://image.itmedia.co.jp/mobile/articles/1701/29/la_line32_01.jpg" width="200" />

<div>
  <a href="/reservation/new">予約</a>
</div>
