<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @communicatable.name %>
</p>

<%= link_to 'Edit', edit_communicatable_path(@communicatable) %> |
<%= link_to 'Back', communicatables_path %>
