<h1>Reservation#new</h1>
<p>Find me in app/views/reservation/new.html.erb</p>

<h2>
  adviser情報
</h3>

<form action="" method="post" id="form">
  <table>
    <tr>
      <td>日時</td>
        <td>
          <input type="datetime-local">
        </td>
    </tr>
    <tr>
      <td>場所</td>
      <td>
        <select name="place">
          <option value="0">東京</option>
          <option value="1">神奈川</option>
          <option value="2">埼玉</option>
          <option value="3">千葉</option>
      </td>
    </tr>
  </table>
  <input type="submit" value="予約">
</form>
