<h1>相談予約</h1>
<p>Find me in app/views/reservation/new.html.erb</p>

<h2>
  adviser情報
</h2>

<h2>
  予約フォーム
</h2>
<form action="" method="post" id="form" class="form-group">
  <div class="row">
    <div class="col-md-12">
      <label for="">日時</label>
    </div>
    <div class="col-md-4">
      <input type="datetime-local" name="datetime" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="place">場所</label>
    </div>
    <div class="col-md-4">
      <select name="place" class="form-control">
        <option value="0">東京</option>
        <option value="1">神奈川</option>
        <option value="2">埼玉</option>
        <option value="3">千葉</option>
      </select>
    </div>
  </div>
  <input type="submit" value="予約" class="btn btn-success">
</form>
